---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Découvrez mon parcours et mes compétences."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.webp"
					alt="Adeline Sap en plein travail."
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Salut ! Moi, c'est Adeline Sap, une passionnée de code et d'apprentissage, 
						en route pour devenir une grande intégratrice web (oui, on peut dire ça !)
					</p>
					<p>
						Mon aventure professionnelle a commencé avec un BEPA Services aux personnes, 
						et pendant 19 ans, j'ai enchaîné les métiers, du service à la personne à la vente, 
						en passant par la fée du logis. Bref, j'ai été une touche-à-tout avant de trouver ma 
						véritable vocation.Depuis toujours, j'ai eu un faible pour l'informatique. Que ce soit pour bidouiller
						ou explorer les mystères des ordinateurs, j'ai toujours aimé toucher à l'informatique. 
						Et maintenant, ce rêve de longue date est enfin devenu réalité !
						À 37 ans, j'ai décidé de changer de cap et de plonger dans le monde
						fascinant du web. Depuis, j'ai fait une formation pour devenir intégratrice web.
						J'adore coder, apprendre de nouvelles technologies, et surtout, voir la magie opérer lorsque mon code prend vie sur l'écran.
					</p>
					<p>
						Mes journées sont désormais rythmées par les balises HTML, les styles CSS, les scripts
						JavaScript et les composants React. Chaque projet terminé est une petite victoire et un
						grand bonheur pour moi.En résumé, je suis une ancienne touche-à-tout devenue passionnée du web,
						prête à apporter mes compétences et mon enthousiasme à votre prochain projet !
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplôme</h2>
				<div class="content">
					<p></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Dynamique, Travail D'équipe, Curieuse, Persévérante, Adaptabilité</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
